@charset "utf-8";

/* CSS Document */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  /*font-size:62.5%;*/
  min-height: 100%;
}

body {
  font-size: 0.26rem;
  background: #f8f8f8;
  line-height: 0.4rem;
}

*::after,
*::before {
  box-sizing: border-box;
}

ul,
li,
p,
a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a {
  color: #5b5b5b;
  outline: medium none;
}

img {
  vertical-align: middle;
  border: none;
}

img {
  width: 100%;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.text-center {
  text-align: center;
}

.clearfix::before,
.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.color-yellow {
  color: #fb8421 !important;
}

.img {
  width: 100%;
  vertical-align: middle;
}
.color-red {
  color: #f13b5b !important;
}
.color-blue {
  color: #0078ff !important;
}
.color-gray {
  color: #666 !important;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.margin-bottom-sm {
  margin-bottom: 0.3rem;
}
.padding-top-sm {
  padding-top: 0.3rem !important;
}
.padding-sm {
  padding: 0.3rem !important;
}
.btn-gray {
  background: #eee !important;
  color: #666 !important;
}
.text-right {
  text-align: right !important;
}

.main-box {
  position: relative;
  max-width: 750px;
  margin: auto;
}
.banner {
  position: relative;
}
.login-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
.login-bottom img {
  width: 30%;
}

/*登录*/
.rw-info {
  position: relative;
  margin: -4.5rem 0.3rem 0;
  box-shadow: 0 0 0.1rem #ddd;
  background: #fff;
  padding: 0.6rem 0.3rem;
  border-radius: 0.4rem 0 0.4rem 0;
  z-index: 9;
}
.rw-info .form-group {
  position: relative;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
}
.rw-info .form-group .form-control {
  display: block;
  width: 100%;
  color: #333;
  padding: 0 0.2rem;
  height: 0.8rem;
  box-shadow: none !important;
  outline: none;
  background: #fff;
  padding-left: 0.6rem;
  background: #f0f0f0;
  border-radius: 0.1rem;
  font-size: 0.26rem;
}
.form-icon {
  position: absolute;
  left: 0.15rem;
  width: 0.3rem;
  height: 0.3rem;
}
.rw-title {
  padding-bottom: 0.3rem;
  color: #333;
  font-size: 0.35rem;
  text-align: center;
}
.rw-text {
  text-align: center;
  margin-bottom: 0.2rem;
}
.rw-info .yz-ts {
  color: #fd6063;
  text-align: left;
}
.rw-info .btn-yz {
  position: absolute;
  right: 0.2rem;
  padding: 0 0.2rem;
  font-size: 0.24rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 0.5rem;
  background: #0f82f2;
  color: #fff;
  text-align: center;
  border-radius: 0.1rem;
}
.rw-info .pic-input {
  width: 4.5rem;
}
.rw-info .pic-yz {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 2rem;
  height: 0.8rem;
  text-align: center;
  z-index: 10;
  border: solid 1px #ddd;
  background: #fff;
}
.rw-info .pic-yz img {
  height: 0.8rem;
}
.rw-img {
  margin: 0 -1rem;
}
.su-btn {
  display: block;
  margin: 0.3rem 0 0;
  text-align: center;
  background: linear-gradient(to right, #3aabff, #0c7ef1);
  font-size: 0.32rem;
  border-radius: 0.5rem;
  color: #fff;
  padding: 0.15rem 0;
}

/*index*/
.top-box {
  background: url('../../images/top-bg.png') no-repeat;
  padding: 0.3rem 0.3rem 1rem;
  background-size: 100% 100%;
}
.top-row {
  position: relative;
  display: flex;
  align-items: center;
}
.head-box {
  position: relative;
  width: 1.5rem;
}
.head-box img {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: solid 2px #a0d3fd;
}
.head-box label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.2rem;
  border-radius: 0.4rem;
  background: #fd7008;
  color: #fff;
  height: 0.4rem;
  font-size: 0.22rem;
  z-index: 9;
}
.top-info {
  flex: 1;
  padding-left: 0.3rem;
  color: #fff;
}
.name-row {
  font-size: 0.4rem;
  display: flex;
  align-items: center;
  padding-bottom: 0.1rem;
}
.name-row span {
  font-size: 0.24rem;
  color: #0f82f2;
  background: #fff;
  height: 0.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.2rem;
  border-radius: 0.2rem;
  margin-left: 0.2rem;
}
.phone-row {
  display: flex;
  align-items: center;
  margin: 0.1rem 0;
}
.phone-row img {
  width: 0.3rem;
  height: 0.3rem;
  margin-right: 0.1rem;
}
.top-right {
  position: absolute;
  top: 0.1rem;
  right: 0;
  text-align: center;
}
.bind-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.2rem;
  border-radius: 0.4rem;
  height: 0.55rem;
  font-size: 0.28rem;
  color: #fff;
  background: linear-gradient(to right, #ff890a, #febe3d);
}
.record-box {
  margin: -1rem 0.3rem 0.3rem;
  /* background: url('../../images/num-bg.png') no-repeat; */
  background-size: 100% 100%;
  border-radius: 0.2rem;
  overflow: hidden;
}
.record-all-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.2rem;
  border-radius: 0 0.2rem;
  height: 0.5rem;
  color: #0f82f2;
  background: #dfedfd;
}
.income-text {
  color: #fff;
  text-decoration: underline;
  margin-top: 0.1rem;
  display: block;
}
.record-all-btn img {
  width: 0.25rem;
  height: 0.25rem;
}
.record-list {
  padding: 0.15rem 0;
  margin-top: 0.2rem;
}
.record-item {
  float: left;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: solid 1px #90daff;
  margin: 0.15rem 0;
  color: #fff;
}
.record-item:nth-child(2n) {
  border: 0;
}
.record-num {
  font-size: 0.4rem;
}
.record-name {
  margin-top: 0.1rem;
}
.nav-box {
  padding: 0.3rem;
  background: #fff;
  border-radius: 0.2rem;
  margin: -1rem 0.2rem 0;
}
.nav-item {
  float: left;
  width: 25%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nav-item img {
  width: 0.8rem;
  height: 0.8rem;
  margin-bottom: 0.1rem;
}

.content-box {
  padding: 0.3rem;
}
.pro-item {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  background: #fff;
  margin-bottom: 0.2rem;
  border-radius: 0.2rem;
}
.pro-img {
  width: 1.8rem;
  border-radius: 0.15rem;
}
.pro-info {
  flex: 1;
  padding-left: 0.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.pro-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pro-name label {
  font-size: 0.35rem;
}
.pro-detaile-btn {
  color: #f38431;
  font-size: 0.26rem;
}
.pro-text {
  color: #666;
  margin: 0.1rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.pro-btn-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.1rem;
}
.pro-btn {
  display: inline-flex;
  align-items: center;
  font-size: 0.24rem;
  background: #f38431;
  border-radius: 0.4rem;
  padding: 0 0.3rem;
  height: 0.45rem;
  color: #fff;
  margin-right: 0.1rem;
}
.pro-btn img {
  width: 0.25rem;
  height: 0.25rem;
}
.index-tips {
  padding: 0 0.3rem;
  color: #666;
}

.cpn-info {
  padding: 0.3rem;
  background: #fff;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.1rem #ddd;
  color: #666;
}
.cpn-table {
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.1rem #ddd;
  overflow: hidden;
  max-height: 4rem;
  overflow: scroll;
  background: #fff;
}
.cpn-info span {
  color: #fb8421;
}
.table {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
  overflow: hidden;
  border-top: solid 1px #dedcdc;
  border-right: solid 1px #dedcdc;
}
.table tr td,
.table tr th {
  padding: 0.1rem 0;
  text-align: center;
  border-bottom: solid 1px #dedcdc;
  border-left: solid 1px #dedcdc;
}
.table tr th {
  background: #fb8421;
  color: #fff;
  font-weight: 400;
}
.table tr td {
  background: #fff;
  font-size: 0.24rem;
}
.tg-moreBtn {
  display: flex;
  align-items: center;
  color: #2f85ef;
  justify-content: center;
}
.table .icon-more {
  width: 0.3rem;
  height: 0.3rem;
}

.income-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.2rem;
  border-radius: 0.4rem;
  height: 0.55rem;
  font-size: 0.28rem;
  color: #fff;
  background: linear-gradient(to right, #ff890a, #febe3d);
}
.total {
  padding: 0.05rem 0.2rem;
  color: #fb8421;
}

/*海报*/
.hb-bg {
  background: #6ad0ff;
}
.hb-box {
  position: relative;
}
.ewm-img {
  width: 1.6rem;
  height: 1.6rem;
  z-index: 9;
  position: absolute;
  right: 0.75rem;
  bottom: 1.35rem;
}

/*弹窗*/
.popup .popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  filter: alpha(opacity=80);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
}
.popup .popup-info {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  z-index: 1001;
  transform: translate(-50%, -50%);
}
.popup-content {
  position: relative;
  width: 100%;
  margin: auto;
  background: #fff;
  border-radius: 0.1rem;
}
.popup-title {
  font-size: 0.32rem;
  color: #333;
  text-align: center;
  padding-bottom: 0.3rem;
  margin-bottom: 0.3rem;
  color: #f33202;
  font-weight: 700;
  border-bottom: solid 1px #ddd;
}
.popup-text {
  color: #666;
}
.close-btn {
  position: absolute;
  display: block;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  color: #999;
  font-size: 30px;
}
.close-btn2 {
  position: absolute;
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  left: 50%;
  margin-left: -0.3rem;
  bottom: -0.9rem;
}
.popup-btn {
  display: flex;
  margin: 0.3rem auto 0;
  align-items: center;
  justify-content: center;
  height: 0.7rem;
  color: #fff;
  background: linear-gradient(to right, #fc8760, #ff4645);
  border-radius: 0.4rem;
  font-size: 0.3rem;
}

.pop-img {
  width: 1.5rem;
  margin: 0.3rem auto;
  display: block;
}
.popup-h2 {
  font-size: 0.3rem;
  text-align: center;
  color: #fc5e2d;
  font-weight: 400;
}

.login-tips {
  margin: 1rem 0.3rem 0;
  background: #f8f8f8;
  border: solid 1px #ddd;
  border-radius: 0.1rem;
  padding: 0.3rem;
  text-align: center;
}
.login-tips span {
  color: #f13b5b;
}
.loging-tops-tit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.3rem;
}
.loging-tops-tit span {
  display: inline-flex;
  align-items: center;
  background: #4481fe;
  padding: 0 0.3rem;
  height: 0.5rem;
  font-size: 0.3rem;
  color: #fff;
  border-radius: 0.4rem;
  margin-top: -0.5rem;
}
